
<div class="topbar bg-light">
    <div class="section-1">
        <div class="search-bar">
            <%- include('crm/partials/topSearchbar') %>
        </div>
        
        <div class="m-0 mt-5 row">
            <div class="form-group col-md-8">
                <h2><%= badge || 'Manage | Management Panel' %></h2> 
            </div> 
        </div>
    </div>
</div>