<div class="mb-3"> 
    <input
        type="text"
        class="form-control w-100 p-3 searchQuery"
        name="searchQuery"
        id="searchQuery"
        aria-describedby="helpId"
        placeholder="Enter to search here..."
    /> 
</div>