body {
    background-color: #f8f9fa;
}
.brand-logo {
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}
.btn-custom {
    background: #007bff;
    color: #fff;
}
.btn-custom:hover {
    background: #0056b3;
}
* button, * input, * textarea, * select {
    border-radius: 0px !important;
}
* table.dataTable {
    border-collapse: collapse;
}
* table tbody, td, tfoot, th, thead, tr {
    border-width: 100%;
    border-style: solid;
    border-color: black;
}
* table .table-bordered > :not(caption) > * {
    border-width: var(--bs-border-width); 
}
* .dataTables_filter {
    margin-bottom: 20px; 
} 